*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif   ;
    
}

header nav {
    text-align: center;
    justify-content: space-around;
    background-color: #23232e;
    display: flex;
    flex-direction: row;
    height: 8vh;
}

.alinhamento {
    margin-top: 0.7rem;
}

.logo { 
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
}

.container {
    align-items: center;
    text-align: center;
    align-content: center;
    align-self: center;
    background-color: #23232e;
    margin-top: 20vh;
    padding: 5rem;
    max-width: 500px;
    margin : 100px auto 20px;
    border-radius: 15px;

}

.container h2 {
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.container button {
    cursor: pointer;
    border: 1px solid #ffff;
    background-color: #23232e;
    border-radius: 7px;
    padding: 7px; 
}

/* .container button :hover {
    border: 1px solid #ffff;
    background-color: #ffff;
    color: #ffff;
    transition: ease 0.3s;
    border-radius: 7px;

} */

.container p {
    color: #ffff;
    text-transform: uppercase;
}



input {
    color: #23232e;
    padding: 0.5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 7px;
    outline:none;
}


#list {
    list-style-type: none;
}

